<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerLinks}}
     </head>
  <body>
 {{>navbar}}

    <!-- .......... Main Header......... -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- Left side -->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                     <img src="../images/Img.png" alt="img" class="img-fluid about-img"/>
                    </figure>
                     </div>
                

                 <!-- Right side -->
                                <div class="col-md-6 col-12 main_header_left">
                                    <p>Welcome to My weather app</p>
                                    <h1>I Am A <span class="text_clr">FrontEnd Developer</span> And a Freelancer</h1>
                                    <a href="https://portfolio.ristachaudhary.com/" target="_blank"><button>About Me </button></a>
                                </div>

            </div>
        </div>
      </div>
    </div>
    <!-- footer code -->

    {{>footer}}
</html>
